fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4
PyJWT==2.8.0
pydantic==2.7.1
pydantic-settings==2.2.1
python-multipart==0.0.9
email-validator>=2.0.0
